.custom-select-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px;
}

.custom-select-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-select-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.custom-select-container select:hover {
  border-color: #333;
}
