<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <h3 routerLink="/" routerLinkActive="active">Pakhi Bhai</h3>

      <!-- Navigation Links -->
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        *ngIf="accountService.currentUser$ | async"
      >
        <li>
          <a
            routerLink="/members"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >Matches</a
          >
        </li>
        <li>
          <a
            routerLink="/lists"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >Lists</a
          >
        </li>
        <li>
          <a
            routerLink="/messages"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >Message</a
          >
        </li>
      </ul>

      <div
        class="dropdown"
        *ngIf="accountService.currentUser$ | async as user"
        dropdown
      >
        <a class="dropdown-toggle text-light" dropdownToggle
          >Wellcome {{ user.userName | titlecase }}</a
        >
        <div class="dropdown-menu" *dropdownMenu>
          <a routerLink="member/edit" class="dropdown-item">Edit Profile</a>
          <a class="dropdown-item" (click)="logOut()">Logout</a>
        </div>
      </div>
      <!-- Login Form -->
      <form
        #loginForm="ngForm"
        class="d-flex justify-content-start"
        (ngSubmit)="login()"
        autocomplete="off"
        *ngIf="!(accountService.currentUser$ | async)"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          type="text"
          placeholder="User Name"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</header>
